{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form method="POST" class = "card card-body">
                    <h2>Crear tarea</h2>
                    {{form.errors}}
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type = "submit" class = "btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </main>
    
{% endblock content %}
